body {
    background-color: lightblue;
  }
h1{
font-family: 'Roboto', sans-serif;
}

h5{
font-family: 'Roboto', sans-serif;
}
h4{
font-family: 'Roboto', sans-serif;
}
p{
font-family: 'Roboto', sans-serif;
}
h2{
font-family: 'Roboto', sans-serif;
}
h3{
font-family: 'Roboto', sans-serif;
}
.light-peach{
    background-color: #A4E89B;
}
.green{
  background-color:#F5FF6F;

}
.peach{
      background-color: #FFB673;
}
.img{
    border-radius: 50%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* Media Queries*/
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
@media only screen and (min-width: 576px) { 
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Collapsed content</h4>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

}

/*img  {*/
/*  max-width: 100%;*/
/*  height: auto;*/
/*  display: block;*/

/*}*/

/*h2{*/
/*    width: 80vw; */
/*}*/
/*p{*/
/*    width: 75vmin;*/
/*}*/