
/*An ALERT just stating "WELCOME" to everyone */
.intro {
  padding: 20px;
  background-color: lightblue;
  color: black;
}

.xbtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;

}

.xbtn:hover {
  color: blue;
}


body {
    background-color: lightblue;
  }
  .Heading{
      font-size: 24px;
  }
h1{
font-family: 'Roboto', sans-serif;
}

h5{
font-family: 'Roboto', sans-serif;
}
h4{
font-family: 'Roboto', sans-serif;
}

p{
font-family: 'Roboto', sans-serif;
}
h2{
font-family: 'Roboto', sans-serif;
}
h3{
font-family: 'Roboto', sans-serif;
}
.light-peach{
    background-color: #A4E89B;
}
.green{
  background-color:#F5FF6F;

}
.peach{
      background-color: #FFB673;
}
.phone{
     border-radius: 50%;
}


.middle{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 4%;
}
.img{
    border-radius: 50%;
}
.contact-us-emoji{
 display: block;
  margin-left: auto;
  margin-right: auto;
    width: 7%;
}
.sizeofemojis{
      display: block;
  margin-left: auto;
  margin-right: auto;
    width: 10%;
}
.phone-icon{
        display: block;
  margin-left: auto;
  margin-right: auto;
    width: 2%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.blue-top-background{
   background-color: lightblue;
}

.Ethel{
    color:#1D3E99;
}


.mary{
    color: #D74699;
}
.tammy{
  color:  #FF8648;
}
.contact{
    color:#5697E8;
}
.end{
    color: #FF807D;
}

 /*Media Queries*/

/*Media queries for small screens*/
@media (min-width: 600px){

    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 20px;

    }
    h3 {
        font-size: 15px;
    }
  

}

/*Media queries for medium screens*/
@media only screen and (min-width: 768px) {
    h1 {
        font-size: 34px;
    }
    h2 {
        font-size: 24px;

    }
    h3 {
        font-size: 23px;
    }



}
/*Media queries for big screens*/

@media only screen and (min-width: 992px) {
    h1 {
        font-size: 44px;
    }
    h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 30px;
    }
     p{
     font-size: 20px;
 }

}


img  {
  max-width: 100%;
  height: auto;
  display: block;

}

