body {
    background-color: lightblue;
  }
h1{
font-family: 'Roboto', sans-serif;
}

h5{
font-family: 'Roboto', sans-serif;
}
h4{
font-family: 'Roboto', sans-serif;
}
p{
font-family: 'Roboto', sans-serif;
}
h2{
font-family: 'Roboto', sans-serif;
}
h3{
font-family: 'Roboto', sans-serif;
}
.light-peach{
    background-color: #A4E89B;
}
.green{
  background-color:#F5FF6F;

}
.peach{
      background-color: #FFB673;
}
.img{
    border-radius: 50%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


 /*Media Queries*/
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }






.navbar a:hover {
  color: yellow;
}

img  {
  max-width: 100%;
  height: auto;
  display: block;

}

